@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.left .close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
    z-index: 2;
    transition: all 0.3ms ease-out;
}

.close img {
    display: none;
    cursor: pointer;
}

.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    padding-top: 14px;
    list-style: none;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;

}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}

.card:hover {
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    font-size: 16px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
    width: 80px;
    font-size: 17px;
}

.playbar {
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songList ul {
    padding: 0 12px;
    font-size: 10px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    width: 95%;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: xx-small;
    /* width: 100px; */
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 98%;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    background-color: black;
    border-radius: 13px;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5;
}

.songbuttons img {
    cursor: pointer;
}

.timenvol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    color: black;
    padding: 0 12px;
    width: 125px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.range input {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .close img {
        display: block;
    }

    .timenvol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .playbar {
        width: calc(100vw - 115px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
        max-height: 50vh;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
}


@media (max-width: 364px) {
    .buttons {
        display: flex;
        gap: 12px;
    }

    .signupbtn {
        width: 55px;
    }

    .playbar {
        width: 90vw;
    }
}